<!--<style>
    main {
        width: 85%;
        height: 200px;
        margin: 200px, auto;
        margin-left: 125px;
        padding-top: 150px;
        padding-bottom: 199px;
        overflow: hidden;
        position: relative;
    }

    section {
        width: 90%;
        height: 190px;
        background: #f4f4f4;
        margin: 5px auto;
        display: flex;
        justify-content: left;
        overflow-x: auto;
    }

    section::-webkit-scrollbar {
        visibility: hidden;
    }
    #span_{
    margin-top: -10px;
    margin-bottom: -80px;
    font-size: 30px;
    font-weight:bold;
    color: lightgrey;
    cursor: pointer;
    left: 0.5%;
    right: 0.5%;
}


</style>

<div>
    <div>
        <h2 style="margin-bottom: 20px ; font-size: 20pt; font-weight: 700;" align="center"  ><b> Entdecke mehr SDGS</b></h2>
        <h4 style="margin-bottom: -50px; color: #adadad;" align="center">Klicken Sie auf die einzelnen Ziele, um die Daten unserer lokalen <br> Indikatoren für nachhaltige Entwicklung anzuzeigen.</h4>
    </div>

<main>
    <div id="span_">
        <span class=" fa fa-chevron-left pull-left" style="margin-left: 50px;" >{{ include.previous_label | t }}</span>
        <span class="fa fa-chevron-right pull-right" style=" margin-right: 50px;">{{ include.next_label | t }}</span>
    </div>
    <div class="container">
        <section>
            <div>
                <a href="/SDGTK/1">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/1.png" alt="No poverty - Goal 1"
                         id="goal-1" class="goal-icon-image goal-icon-image-" height="165px" width="165px"
                         style="margin-right: 15px;">
                </a>
            </div>

            <div>
                <a href="/SDGTK/2">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/2.png" alt="Zero hunger - Goal 2"
                         id="goal-2" class="goal-icon-image goal-icon-image-" height="165px" width="165px"
                         style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/3">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/3.png"
                         alt="Good health and well-being - Goal 3" id="goal-3" class="goal-icon-image goal-icon-image-"
                         height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/4">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/4.png"
                         alt="Quality education - Goal 4" id="goal-4" class="goal-icon-image goal-icon-image-"
                         height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/5">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/5.png"
                         alt="Gender equality - Goal 5" id="goal-5" class="goal-icon-image goal-icon-image-" height="165px"
                         width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/6">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/6.png"
                         alt="Clean water and sanitation - Goal 6" id="goal-6" class="goal-icon-image goal-icon-image-"
                         height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/7">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/7.png"
                         alt="Affordable and clean energy - Goal 7" id="goal-7" class="goal-icon-image goal-icon-image-"
                         height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/8">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/8.png"
                         alt="Decent jobs and economic growth - Goal 8" id="goal-8" class="goal-icon-image goal-icon-image-"
                         height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/9">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/9.png"
                         alt="Industry, innovation and infrastructure - Goal 9" id="goal-9"
                         class="goal-icon-image goal-icon-image-" height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/10">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/10.png"
                         alt="Reduced inequalities - Goal 10" id="goal-10" class="goal-icon-image goal-icon-image-"
                         height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/11">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/11.png"
                         alt="Sustainable cities &amp; communities - Goal 11" id="goal-11"
                         class="goal-icon-image goal-icon-image-" height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/12">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/12.png"
                         alt="Responsible consumption and production - Goal 12" id="goal-12"
                         class="goal-icon-image goal-icon-image-" height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/13">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/13.png"
                         alt="Climate action - Goal 13" id="goal-13" class="goal-icon-image goal-icon-image-" height="165px"
                         width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/14">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/14.png"
                         alt="Life below water - Goal 14" id="goal-14" class="goal-icon-image goal-icon-image-"
                         height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/15">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/15.png" alt="Life on land - Goal 15"
                         id="goal-15" class="goal-icon-image goal-icon-image-" height="165px" width="165px"
                         style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/16">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/16.png"
                         alt="Peace and justice - strong institutions - Goal 16" id="goal-16"
                         class="goal-icon-image goal-icon-image-" height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/17">
                    <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/17.png"
                         alt="Partnerships for the goals - Goal 17" id="goal-17" class="goal-icon-image goal-icon-image-"
                         height="165px" width="165px" style="margin-right: 15px;"/>
                </a>
            </div>
        </section>
    </div>
</main>
</div>-->

<div class="container" id="contain">
    <div class="row">
        <div id="text">
            <h2 style="margin-bottom: 20px ; font-size: 20pt; font-weight: 700;" align="center"  ><b> Entdecke mehr SDGS</b></h2>
            <h4 style="margin-bottom: 10px; color: #adadad;" align="center">Klicken Sie auf die einzelnen Ziele, um die Daten unserer lokalen <br> Indikatoren für nachhaltige Entwicklung anzuzeigen.</h4>
        </div>
        <div class="col-xs-11 col-md-10 col-centered">
            <div id="carousel" class="carousel" data-ride="carousel" data-type="multi" data-interval="2500">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-col">
                            <a href="/SDGTK/1">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/1.png" class="img-responsive" alt="No poverty - Goal 1"
                                     id="goal-1" class=" block goal-icon-image goal-icon-image-" width="306px" height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/2">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/2.png" class="img-responsive" alt="Zero hunger - Goal 2"
                                     id="goal-2" class="block goal-icon-image goal-icon-image-" width="306" height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/3">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/3.png" class="img-responsive"
                                     alt="Good health and well-being - Goal 3" id="goal-3" class=" block goal-icon-image goal-icon-image-"
                                     width="306px" height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/4">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/4.png" class="img-responsive"
                                     alt="Quality education - Goal 4" id="goal-4" class=" block goal-icon-image goal-icon-image-"
                                     width="306px" height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/5">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/5.png" class="img-responsive"
                                     alt="Gender equality - Goal 5" id="goal-5" class="block goal-icon-image goal-icon-image-" width="306px"
                                     height="230px"/>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/6">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/6.png" class="img-responsive"
                                     alt="Clean water and sanitation - Goal 6" id="goal-6" class=" block goal-icon-image-"
                                     width="306px"  height="230px" />
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/7">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/7.png" class="img-responsive"
                                     alt="Affordable and clean energy - Goal 7" id="goal-7" class="block goal-icon-image-"
                                     width="306px"  height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/8">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/8.png" class="img-responsive"
                                     alt="Decent jobs and economic growth - Goal 8" id="goal-8" class=" block goal-icon-image goal-icon-image-"
                                     width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/9">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/9.png" class="img-responsive"
                                     alt="Industry, innovation and infrastructure - Goal 9" id="goal-9"
                                     class="block goal-icon-image goal-icon-image-" width="306px"  height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/10">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/10.png" class="img-responsive"
                                     alt="Reduced inequalities - Goal 10" id="goal-10" class=" block goal-icon-image goal-icon-image-"
                                     width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/11">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/11.png" class="img-responsive"
                                     alt="Sustainable cities &amp; communities - Goal 11" id="goal-11"
                                     class="block goal-icon-image goal-icon-image-" width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/12">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/12.png" class="img-responsive"
                                     alt="Responsible consumption and production - Goal 12" id="goal-12"
                                     class="block goal-icon-image goal-icon-image-" width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/13">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/13.png" class="img-responsive"
                                     alt="Climate action - Goal 13" id="goal-13" class="block goal-icon-image goal-icon-image-" width="306px"
                                     height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/14">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/14.png" class="img-responsive"
                                     alt="Life below water - Goal 14" id="goal-14" class="block goal-icon-image goal-icon-image-"
                                     width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/15">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/15.png" class="img-responsive"
                                     alt="Life on land - Goal 15" id="goal-15" class="block goal-icon-image goal-icon-image-" width="306px"
                                     height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/16">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/16.png" class="img-responsive"
                                     alt="Peace and justice - strong institutions - Goal 16" id="goal-16"
                                     class="block goal-icon-image goal-icon-image-" width="306px"
                                     height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/17">
                                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/17.png" class="img-responsive"
                                     alt="Partnerships for the goals - Goal 17" id="goal-17" class="block goal-icon-image goal-icon-image-"
                                     width="306px"
                                     height="230px"/>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="left carousel-control">
                    <a href="#carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </div>
                <div class="right carousel-control">
                    <a href="#carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
