
{% include head.html %}
{% include header.html %}
{% if site.environment == 'staging' %}
{% assign baseurl = 'https://g205sdgs.github.io/sdg-indicators' %}
{% else %}
{% assign baseurl = 'https://sdg-indikatoren.de' %}
{% endif %}
<div class="heading goal-banner goal-{{ page.goal.number }}"> 
  <div class="container">
    <div class="row">
      <div class="Image">
        {% if page.goal.number == '1' %}
        <img src="/SDGTK/assets/img/goals/de/1.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '2' %}
        <img src="/SDGTK/assets/img/goals/de/2.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '3' %}
        <img src="/SDGTK/assets/img/goals/de/3.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '4' %}
        <img src="/SDGTK/assets/img/goals/de/4.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '5' %}
        <img src="/SDGTK/assets/img/goals/de/5.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '6' %}
        <img src="/SDGTK/assets/img/goals/de/6.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '7' %}
        <img src="/SDGTK/assets/img/goals/de/7.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '8' %}
        <img src="/SDGTK/assets/img/goals/de/8.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '9' %}
        <img src="/SDGTK/assets/img/goals/de/9.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '10' %}
        <img src="/SDGTK/assets/img/goals/de/10.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '11' %}
        <img src="/SDGTK/assets/img/goals/de/11.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '12' %}
        <img src="/SDGTK/assets/img/goals/de/12.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '13' %}
        <img src="/SDGTK/assets/img/goals/de/13.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '14' %}
        <img src="/SDGTK/assets/img/goals/de/14.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '15' %}
        <img src="/SDGTK/assets/img/goals/de/15.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '16' %}
        <img src="/SDGTK/assets/img/goals/de/16.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
        {% if page.goal.number == '17' %}
        <img src="/SDGTK/assets/img/goals/de/17.png" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}"  />
        {% endif %}
      </div>
    </div>
    {% if page.previous and page.next %}
    <div class="previous-next-links row">
      <div class="col col-lg-2 pull-left">
        <a href="{{ page.previous.url }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn btn-left" role="button">
          <i class="fa fa-chevron-left" aria-hidden="true" style="font-size: 45px;"></i> <span id="previous-link" class="hidden-sm hidden-xs">{{ include.previous_label | t }}</span>
        </a>
      </div>
      <div class="col col-lg-2 pull-right">
        <a href="{{ page.next.url  }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn btn-right" role="button">
          <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: 45px;"></i><span id="next-link" class="hidden-sm hidden-xs">{{ include.next_label | t }}</span>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
  </div>


