{% if page.language == 'de' %}
<h2 style="color: #19486a;font-weight: bold;">Veröffentlichungen</h2>
<h4 style="color: #19486a;font-weight: bold;">Bleibe auf dem Laufenden...</h4>
{% else %}
<h2 style="color: #19486a;font-weight: bold;">Publications</h2>
<h4 style="color: #19486a;font-weight: bold;">Stay tuned...</h4>
{% endif %}
<br>
<div class="card1">
    <a href="https://www.berlin.de/ba-treptow-koepenick/_assets/der-bezirk/nachhaltigkeit/kommunale_nachhaltigkeitsstrategie_treptow-kopenick_barrierefrei.pdf"><img class="card-img-top" src="{{ site.baseurl }}/assets/img/card1.jpg" alt="include.card.title" style="width:100%">
    <div class="cont" style="margin-top: 30px;padding: 2px 16px;">
    <a href="https://www.berlin.de/ba-treptow-koepenick/_assets/der-bezirk/nachhaltigkeit/kommunale_nachhaltigkeitsstrategie_treptow-kopenick_barrierefrei.pdf" target="_blank">
        PDF Download
    </a>
    </div>
</div>


