<div class="card3">
    <a href="https://beyersar.github.io/SDGTK/de/news/" target="_blank"><img class="card-img-top" src="{{ site.baseurl }}/assets/img/card3.png" alt="include.card.title" style="width:100%;height: 65%;">
    <div class="cont" style="margin-top: 20px;padding: 2px 16px;">
        {% if page.language == 'de' %}
        <a href="https://beyersar.github.io/SDGTK/de/news/" target="_blank" style="text-decoration: none" target="_blank"> <b>Aktuelles</b></a>
        {% else %}
        <a href="https://beyersar.github.io/SDGTK/news/" target="_blank" style="text-decoration: none" target="_blank"> <b>News</b></a>
        {% endif %}
    </div>
</div>



