<!-- # représente l\'id et le point (.) représente la classe -->
<style>
    #kooperation {
    background-color: #19486a;
        color: white;
        padding-top: 30px;
        padding-bottom: 15px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

</style>





<footer role="contentinfo" style="padding-top: 85px;">
    <div class="container">
        <div class="row" style="padding: 0px;">
            <div class="col-xs-12">
                <div id="kooperation" >
                    <p>Unsere Kooperationen</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 90px;">
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder" style="background-color:white;">
                    <a href="http://www.berlin.de/ba-treptow-koepenick/" target="_blank" ><img src="/SDGTK/assets/img/treptowk.logo.png" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder2" style="background-color:white">
                    <a href="https://www.bmz.de/de" target="_blank" ><img src="/SDGTK/assets/img/Image Pasted 2021-08-11 at 17.10.33.png" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder3" style="background-color:white;">
                    <a href="https://www.engagement-global.de/" target="_blank" ><img src="/SDGTK/assets/img/skew.png" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder4" style="background-color:white;">
                    <a href="https://www.htw-berlin.de" target="_blank" ><img src="/SDGTK/assets/img/logo htw 3.jpg"  class="img-responsive"></a>
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder5" style="background-color:white;">
                    <a href="https://skew.engagement-global.de/" target="_blank" ><img src="/SDGTK/assets/img/service stelle.logo.png" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 0px;">
            <div class="col-xs-12">
                <div id="footerLinks" style="background-color:#19486a;color:white;padding: 30px;margin-bottom: 1px;">
                    <ul style="text-align: center;">
                        <li><a href="https://beyersar.github.io/DataTK/en/zip/all_indicators.zip" target="_blank" style="color:white;margin: 10px 15px;font-weight: bold;">Download</a></li>
                        <li><a href="mailto:test@example.com" target="_blank" style="color:white;margin: 10px 15px;font-weight: bold;">Kontakt</a></li>
                        <li><a href="#" style="color:white;margin: 10px 15px;font-weight: bold;">Impressum</a></li>
                        <li><a href="/SDGTK/about/cookies-and-privacy/" target="_blank" style="color:white;margin: 10px 15px;font-weight: bold;">Cookies</a></li>
                        <li><a href="#" style="color:white;margin: 10px 15px;font-weight: bold;">Technische Hinweise</a></li>
                    </ul>
                    <ul style="margin-bottom: 1px;text-align: right;position: absolute;margin-left: 960px;margin-top: -55px;">
                        <a href="https://twitter.com/MyTwitterAccount" class="fa fa-twitter" target="_blank" style="color:white;margin: 10px 10px;font-size: 30px;"></a>
                        <a href="https://www.instagram.com/MyInstagramAccount/" class="fa fa-instagram" target="_blank" style="color:white;margin: 10px 10px;font-size: 30px;"></a>
                        <a href="https://facebook.com/MyFacebookAccount" class="fa fa-facebook" target="_blank" style="color:white;margin: 10px 10px;font-size: 30px;"></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 0px;">
            <div class="col-xs-12">
                <div id="footerende" style="background-color:#19486a;color:white;padding: 10px;text-align: center;">
                    <p>Diese Webseite wurde mit Open SDG erstellt</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% include scripts.html %}

</body>
</html>
