<style>
    #kooperation {
        background-color: #19486a;
        color: white;
        padding-top: 30px;
        padding-bottom: 15px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    * {
        padding: 0;
        margin: 0;
    }

    main {
        width: 85%;
        height: 200px;
        margin: 200px, auto;
        margin-left: 125px;
        padding-top: 150px;
        padding-bottom: 199px;
        overflow: hidden;
        position: relative;
    }

    section {
        width: 90%;
        height: 190px;
        background: #f4f4f4;
        margin: 5px auto;
        display: flex;
        justify-content: left;
        overflow-x: auto;
    }

    section::-webkit-scrollbar {
        visibility: hidden;
    }

</style>


<main>
    <div class="container">
        <section>
            <div>
                <a href="/SDGTK/1">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/1.png" alt="No poverty - Goal 1"
                     id="goal-1" class="goal-icon-image goal-icon-image-" height="165px" width="165px"
                     style="margin-right: 15px;">
                </a>
            </div>

            <div>
                <a href="/SDGTK/2">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/2.png" alt="Zero hunger - Goal 2"
                     id="goal-2" class="goal-icon-image goal-icon-image-" height="165px" width="165px"
                     style="margin-right: 15px;"/>
                </a>
            </div>

            <div>
                <a href="/SDGTK/3">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/3.png"
                     alt="Good health and well-being - Goal 3" id="goal-3" class="goal-icon-image goal-icon-image-"
                     height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/4">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/4.png"
                     alt="Quality education - Goal 4" id="goal-4" class="goal-icon-image goal-icon-image-"
                     height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/5">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/5.png"
                     alt="Gender equality - Goal 5" id="goal-5" class="goal-icon-image goal-icon-image-" height="165px"
                     width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/6">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/6.png"
                     alt="Clean water and sanitation - Goal 6" id="goal-6" class="goal-icon-image goal-icon-image-"
                     height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/7">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/7.png"
                     alt="Affordable and clean energy - Goal 7" id="goal-7" class="goal-icon-image goal-icon-image-"
                     height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/8">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/8.png"
                     alt="Decent jobs and economic growth - Goal 8" id="goal-8" class="goal-icon-image goal-icon-image-"
                     height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/9">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/9.png"
                     alt="Industry, innovation and infrastructure - Goal 9" id="goal-9"
                     class="goal-icon-image goal-icon-image-" height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/10">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/10.png"
                     alt="Reduced inequalities - Goal 10" id="goal-10" class="goal-icon-image goal-icon-image-"
                     height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/11">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/11.png"
                     alt="Sustainable cities &amp; communities - Goal 11" id="goal-11"
                     class="goal-icon-image goal-icon-image-" height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/12">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/12.png"
                     alt="Responsible consumption and production - Goal 12" id="goal-12"
                     class="goal-icon-image goal-icon-image-" height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/13">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/13.png"
                     alt="Climate action - Goal 13" id="goal-13" class="goal-icon-image goal-icon-image-" height="165px"
                     width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/14">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/14.png"
                     alt="Life below water - Goal 14" id="goal-14" class="goal-icon-image goal-icon-image-"
                     height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/15">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/15.png" alt="Life on land - Goal 15"
                     id="goal-15" class="goal-icon-image goal-icon-image-" height="165px" width="165px"
                     style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/16">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/16.png"
                     alt="Peace and justice - strong institutions - Goal 16" id="goal-16"
                     class="goal-icon-image goal-icon-image-" height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>

            <div>
                <a href="/SDGTK/17">
                <img src="https://open-sdg.org/sdg-translations/assets/img/goals/en/17.png"
                     alt="Partnerships for the goals - Goal 17" id="goal-17" class="goal-icon-image goal-icon-image-"
                     height="165px" width="165px" style="margin-right: 15px;"/>
            </a>
            </div>
        </section>
    </div>
</main>



<footer role="contentinfo">
    <div class="container">
        <div class="row" style="padding: 0px;">
            <div class="col-xs-12">
                <div id="kooperation">
                    <p>Unsere Projektpartner</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 70px;">
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder" style="background-color:white;">
                    <a href="http://www.berlin.de/ba-treptow-koepenick/" target="_blank"><img
                            src="./assets/img/treptowk.logo.png" alt="treptow_koepenick" width="400" height="400"
                            class="img-responsive" style=" max-width: 100%;"></a>
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder2" style="background-color:white">
                    <a href="https://www.bmz.de/de" target="_blank"><img
                            src="./assets/img/Image Pasted 2021-08-11 at 17.10.33.png" alt="bmz" width="400"
                            height="400" class="img-responsive" style="max-width: 100%;"></a>
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder3" style="background-color:white;">
                    <a href="https://www.engagement-global.de/" target="_blank"><img src="./assets/img/skew.png"
                                                                                     alt="engagement_global1"
                                                                                     width="400" height="400"
                                                                                     class="img-responsive"
                                                                                     style="max-width: 100%;"></a>
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder5" style="background-color:white;">
                    <a href="https://skew.engagement-global.de/" target="_blank"><img
                            src="./assets/img/service stelle.logo.png" alt="engagement_global2" width="400" height="400"
                            class="img-responsive" style="max-width: 100%;"></a>
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder4" style="background-color:white;position: absolute;margin-top: -20px; ">
                    <a href="https://www.htw-berlin.de" target="_blank"><img src="./assets/img/logo htw 3.jpg"
                                                                             alt="htw_berlin" width="400" height="400"
                                                                             class="img-responsive"></a>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 0px;text-align: center;">
            <div class="col-xs-12">
                <div id="footerLinks" style="background-color:#19486a;color:white;padding: 10px;margin-bottom: 1px;">
                    <ul style="text-align: center;">
                        {% if site.footer_menu %}
                        {% for item in site.footer_menu %}
                        {%- assign item_path = item.path | t -%}

                        <li style="color:white;margin: 15px;font-weight: bold;">
                            {% if item_path contains ":" %}
                            <a href="{{ item_path }}" target="_blank"
                               style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">{{
                                item.translation_key | t }}</a>
                            {% else %}
                            {%- assign item_path_first = item_path | slice: 0 %}
                            {%- if item_path_first == '/' -%}
                            {%- assign item_path = item_path | slice: 1, item_path.size -%}
                            {%- endif -%}
                            <a href="{{ page.baseurl }}{{ item_path }}"
                               style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">{{
                                item.translation_key | t }}</a>
                            {% endif %}

                        </li>
                        {% endfor %}
                        {% endif %}
                        {% if site.environment == 'staging' and site.site_config_form.enabled %}
                        <li style="color:white;margin: 15px;font-weight: bold;"><a
                                style="color:white;margin: 10px 10px;font-size: 30px;" href="{{ page.baseurl }}config">Configuration</a>
                        </li>
                        {% endif %}
                        {%- if site.languages.size > 1 and site.footer_language_toggle and site.footer_language_toggle
                        != 'none' -%}
                        <li class="language-toggle-menu-footer" style="color:white;margin: 15px;font-weight: bold;">
                            {% include components/language-toggle.html location="footer" %}
                        </li>
                        {%- endif -%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 0px;">
            <div class="col-xs-12">
                <div id="footerende" style="background-color:#19486a;color:white;padding: 10px;text-align: center;">
                    <p>Diese Webseite wurde mit Open SDG erstellt</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% include scripts.html %}


