<style>
    #kooperation {
        background-color: #19486A;
        color: white;
        padding-top: 30px;
        padding-bottom: 15px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
    * {
        padding: 0;
        margin: 0;
    }
    main {
        width: 85%;
        height: 200px;
        margin: 200px, auto;
        margin-left: 125px;
        padding-top: 150px;
        padding-bottom: 199px;
        overflow: hidden;
        position: relative;
    }
    section {
        width: 90%;
        height: 190px;
        background: #F4F4F4;
        margin: 5px auto;
        display: flex;
        justify-content: left;
        overflow-x: auto;
    }
    section::-webkit-scrollbar {
        visibility: hidden;
    }
</style>
<footer role="contentinfo" style="padding-top: 65px;">
    <div class="container">
        <div class="row" style="padding: 0px;">
            <div class="col-xs-12">
                <div id="kooperation" >
                    {% if page.language == 'de' %}
                    <p>Unsere Projektpartner</p>
                    {% else %}
                    <p>Our project partners</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 70px;">
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder" style="background-color:white;">
                    <a href="http://www.berlin.de/ba-treptow-koepenick/" target="_blank" ><img src="/SDGTK/assets/img/logo_ba-treptow-koepenick.png" alt="treptow_koepenick" width="400" height="400" class="img-responsive" style=" max-width: 100%;"></a>
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder2" style="background-color:white">
                    {% if page.language == 'de' %}
                    <a href="https://www.bmz.de/de" target="_blank" ><img src="/SDGTK/assets/img/logo_BMZ.png" alt="bmz" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                    {% else %}
                    <a href="https://www.bmz.de/en" target="_blank" ><img src="/SDGTK/assets/img/logo_BMZ.png" alt="bmz" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder3" style="background-color:white;">
                    {% if page.language == 'de' %}
                    <a href="https://www.engagement-global.de/" target="_blank" ><img src="/SDGTK/assets/img/logo_engagement-global_skew.png" alt="engagement_global1" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                    {% else %}
                    <a href="https://www.engagement-global.de/homepage.html" target="_blank" ><img src="/SDGTK/assets/img/logo_engagement-global_skew.png" alt="engagement_global1" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder5" style="background-color:white;">
                    {% if page.language == 'de' %}
                    <a href="https://skew.engagement-global.de/" target="_blank" ><img src="/SDGTK/assets/img/logo_engagement-global_service-stelle.png" alt="engagement_global2" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                    {% else %}
                    <a href="https://skew.engagement-global.de/home.html" target="_blank" ><img src="/SDGTK/assets/img/logo_engagement-global_service-stelle.png" alt="engagement_global2" width="400" height="400" class="img-responsive" style="max-width: 100%;"></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-3" style="width: 20%;">
                <div id="bilder4" style="background-color:white;position: absolute;margin-top: -20px; ">
                    {% if page.language == 'de' %}
                    <a href="https://www.htw-berlin.de" target="_blank" ><img src="/SDGTK/assets/img/logo_htw.jpg" alt="htw_berlin" width="400" height="400" class="img-responsive" ></a>
                    {% else %}
                    <a href="https://www.htw-berlin.de/en/" target="_blank" ><img src="/SDGTK/assets/img/logo_htw.jpg" alt="htw_berlin" width="400" height="400" class="img-responsive" ></a>
                    {% endif %}
                </div>
            </div>
         </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 0px;text-align: center;">
            <div class="col-xs-12">
                <div id="footerLinks" style="background-color:#19486a;color:white;padding: 10px;margin-bottom: 1px;">
                    <ul style="text-align: center;">
                        {% if page.language == 'de' %}
                        <li style="color:white;margin: 15px;font-weight: bold;">
                            <a href="https://beyersar.github.io/DataTK/en/zip/all_indicators.zip" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">Download</a>
                        </li>
                        <li style="color:white;margin: 15px;font-weight: bold;">
                            <a href="mailto:my-email-address@example.com" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">Kontakt</a>
                        </li>
                        <li style="color:white;margin: 15px;font-weight: bold;">
                            <a href="https://sdg-indikatoren.de/imprint/" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">Impressum</a>
                        </li>
                        <li style="color:white;margin: 15px;font-weight: bold;">
                            <a href="https://beyersar.github.io/SDGTK/de/guidance/" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">Technische Hinweise</a>
                        </li>
                        {% else %}
                        <li style="color:white;margin: 15px;font-weight: bold;">
                            <a href="https://beyersar.github.io/DataTK/en/zip/all_indicators.zip" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">Download</a>
                        </li>
                        <li style="color:white;margin: 15px;font-weight: bold;">
                            <a href="mailto:my-email-address@example.com" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">Contact us</a>
                        </li>
                        <li style="color:white;margin: 15px;font-weight: bold;">
                            <a href="https://sdg-indikatoren.de/en/imprint/" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">Imprint</a>
                        </li>
                        <li style="color:white;margin: 15px;font-weight: bold;">
                            <a href="https://beyersar.github.io/SDGTK/guidance/" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;">Technical references</a>
                        </li>
                        {% endif %}
                        {% if site.environment == 'staging' and site.site_config_form.enabled %}
                        <li style="color:white;margin: 15px;font-weight: bold;"><a
                                style="color:white;margin: 10px 10px;font-size: 30px;" href="{{ page.baseurl }}config">Configuration</a>
                            </li>
                            {% endif %}
                            {%- if site.languages.size > 1 and site.footer_language_toggle and site.footer_language_toggle
                            != 'none' -%}
                            <li class="language-toggle-menu-footer" style="color:white;margin: 15px;font-weight: bold;">
                                {% include components/language-toggle.html location="footer" %}
                            </li>
                            {%- endif -%}
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding: 0px;text-align:center">
            <div class="col-xs-12">
                <div id="footerende" style="background-color:#19486a;color:white;padding: 10px;margin-bottom:1px; text-align: center;">
                    <ul style="text-align: center;"
                    {% if page.language == 'de' %}
                    <li style="color:white;margin: 15px;font-weight: bold;">
                        <a href="https://open-sdg.org/" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;" >Diese Webseite wurde mit Open SDG erstellt</a>
                    </li>
                    {% else %}
                    <li style="color:white;margin: 15px;font-weight: bold;">
                        <a href="https://open-sdg.org/" target="_blank" style="text-decoration: none;color:white;margin: 10px;font-size: 15px;" >This website was created with Open SDG</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% include scripts.html %}
