/* header */
#search-btn, #search-bar-on-page-btn{
  width: 33px;
}
#search-bar-on-page-btn{
  background-color: #eeeeee !important;
color: black !important;
border-color: black !important;
}

#search, #search-mobile {
    @include searchBar;
    @include searchBarHighContrast;
    margin-top: 0;
    margin-bottom: 0;
  }
  #searchToggle{
    position: relative;
  }

  header {
    .container {
      padding-top: 20px;
      min-height: 113px;
      .navbar-default {
        border: none;
      }
    }
  }
  .header-menu-left-aligned {
    @media screen and (max-width: 768px){
      height: 120px;
    }

    .search-and-desktop-widgets {
      float: right;
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
        position: relative;
        top: 60px;

        #SDGlogo{
          height: auto; 
          width:12%;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        display: block;

        .navbar .navbar-nav {
          display: none;
        }
        #SDGlogo{
          height: auto; 
          width:12%;
          padding-right: 0%;
        }
        #search{
          button{
            display: inline-flex;
          }
          position: relative;
          top: 60px;
          min-width: 340px;
        }
      }

      #search {
        margin-top: 0;
        margin-bottom: 0;
      }
      .navbar .navbar-nav {
        margin-top: 0;
        position: relative;
        top: -15px;
      }
    }
  }

@media screen and (max-width: 768px) {
  
  #search-mobile-btn{
    width: 33px;
  }
  h1{
    font-size: 180%;
    text-align: left;
  }
  #SDGlogo{
    height: auto;
    width: 20%; 
    min-width: 20%;
    padding-right: 0%;
  }
  .menu-without-widgets {
    margin-right: auto; 
    position: relative; 
    top: -20px;
  }
  .logo-and-mobile-widgets {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    position: relative;
    .mobile-widgets {
      display: block;
      position: relative;
      top: -15px;
      bottom: 10px;
      right: 5px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
 
  .fa-search {
    position: relative;
    top: 5px;
    left: 5px;
  }
  #search-bar-on-page-btn{
    .fa-search {
      position: relative;
      top: 0px;
      left: 0px;
    }
  }
  .navbar .navbar-nav {
    display: none;
  }
  #main-nav{
    width: 340px;
  }
  #SDGlogo{
    height: auto; 
    width:15%;
    padding-right: 0%;
  }
}
@media screen and (min-width: 992px) {
  #SDGlogo{
    height: auto; 
    width:12%;
  }
}

#banner {
  background: $backgroundColor url('../img/sdgbg.png') top left repeat-x;
  padding-top: 15px;
}

body{
    background: $backgroundColor top left repeat-x;
    padding-top: 15px;
  }


/* goal-footer*/

    #text{
        padding-bottom: 20px;
    }

.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control {
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right {
    margin-right: -50px;
    margin-left: -50px;
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
 }

.block img-responsive {
   width: 306px;
   height:230px;
}

 #contain{
    padding-bottom: 100px;
    padding-top: 50px;
    width: 65%;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }


/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
  .carousel-inner .next        { left:  50%; }
   .carousel-inner .prev		 { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div  { display:block; }
}


  
/*#2.1 Navigation Buttons */
 @for $i from 1 through length($goal-banner-backgroundColors) {
   $background-c: nth($goal-banner-backgroundColors, $i);
   .goal-#{$i} {
    @media screen and (max-width: 657px){
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        min-width: 155px;
        max-width: 155px;
        height: 100%;
        z-index: -1;
        margin-top: -20px;
        padding-top: -20px;
        }
        .container{
          height: 120px;
        }
        .btn-left{
          position: relative;
          top: 40px;
          left: 70px;
        }
        .btn-right{
         position: relative;
         top: 40px;
         right: 70px;
        }
    }
    @media screen and (min-width: 657px) and (max-width: 768px){
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        max-width: 156px;
        min-width: 156px;
        height: 100%;
        z-index: -1;
        margin-top: -25px;
        }

       /*  .heading.goal-banner.goal-#{$i}{
          height: 50px;
        } */
        .container{
          height: 120px;
        }
        .btn-left{
          position: relative;
          top: 40px;
          left: 90px;
        }
        .btn-right{
         position: relative;
         top: 40px;
         right: 90px;
        }

    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        width: 25%;
        height: 100%;
        z-index: -1;
        margin-top: -25px;
        }
        .container{
          height: 140px;
        }
        .btn-left{
          position: relative;
          top: 60px;
          left: 140px;
        }
        .btn-right{
          position: relative;
          top: 60px;
          right: 140px;
        }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px){
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        width: 25%;
        height: 100%;
        z-index: -1;
        margin-top: -25px;
        }
        .container{
          height: 190px;
        }
        .btn-left{
          position: relative;
          top: 30px;
          left: 180px;
        }
        .btn-right{
          position: relative;
          top: 30px;
          right: 180px;
        }

    }
    @media screen and (min-width: 1200px){
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        width: 25%;
        height: 100%;
        z-index: -1;
        margin-top: -25px;
        }
        .container{
          height: 200px;
        }
        .btn-left{
          position: relative;
          top: 30px;
          left: 200px;
        }
        .btn-right{
          position: relative;
          top: 30px;
          right: 200px;
        }
     }

     &.navigation-btn {
       background-color: $background-c;
     color: white;
     height: 36px;
     border-color: transparent;
     margin-top: -180px;
     padding-top: 30px;
     padding-bottom: 70px;
     z-index: 1;

     @media screen and (max-width: 768px){
      margin-top: -150px;
      padding-top: 30px;
      padding-bottom: 70px;
     }
     }

     &.navigation-btn:hover {
       background-color: transparent;
     }
     
     &.goal-titles{
     color: $background-c;
     }
   }
 }
 
/*Footer*/
 #kooperation {
        background-color: #19486a;
        color: white;
        padding-top: 30px;
        padding-bottom: 15px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    * {
        padding: 0;
        margin: 0;
    }

    main {
        width: 85%;
        height: 200px;
        margin: 200px, auto;
        margin-left: 125px;
        padding-top: 150px;
        padding-bottom: 199px;
        overflow: hidden;
        position: relative;
    }

    section {
        width: 90%;
        height: 190px;
        background: #f4f4f4;
        margin: 5px auto;
        display: flex;
        justify-content: left;
        overflow-x: auto;
    }

    section::-webkit-scrollbar {
        visibility: hidden;
    }

/*cards on landing page*/

    .card1, .card2, .card3{
            margin-top: 10px!important;
            width: 100%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
            transition: 0.3s;
            //width: 90%;
            height:400px;
            margin-left: 0px!important;
        }
    @media screen and (min-width: 450px) and (max-width: 992px) {
      .card.col-sm-6 {
        width: 50%!important;
      }
    }
    .card1:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
              }
    .card2:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                 }
    .card3:hover {
             box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                 }
.cont{
    margin-top: 20px;
    padding: 2px 16px;
}
.card-img-top{
    width:100%;
    height:65%;
}
.card2 a, .card3 a {
  color: #1d70b8!important;
}

