/* header */

#search, #search-mobile {
    @include searchBar;
    @include searchBarHighContrast;
    margin-top: 0;
    margin-bottom: 0;
  }
  #searchToggle{
    position: relative;
  }

  header {
    .container {
      padding-top: 20px;
      min-height: 113px;
      .navbar-default {
        border: none;
      }
    }
  }
  .header-menu-left-aligned {
    @media screen and (max-width: 768px){
      height: 120px;
    }

    .search-and-desktop-widgets {
      float: right;
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
        position: relative;
        top: 60px;

        #SDGlogo{
          height: auto; 
          width:12%;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .navbar .navbar-nav {
          display: none;
        }
        #SDGlogo{
          height: auto; 
          width:12%;
          padding-right: 0%;
        }
        #search{
          button{
            display: inline-flex;
          }
          position: relative;
          top: 60px;
          min-width: 340px;
        }
      }

      #search {
        margin-top: 0;
        margin-bottom: 0;
      }
      .navbar .navbar-nav {
        margin-top: 0;
        position: relative;
        top: -15px;
      }
    }
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 180%;
    text-align: center;
  }
  #SDGlogo{
    height: auto;
    width: 20%; 
    min-width: 20%;
    padding-right: 0%;
  }
  .menu-without-widgets {
    margin-right: auto; 
    position: relative; 
    top: -20px;
  }
  .logo-and-mobile-widgets {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    position: relative;
    .mobile-widgets {
      display: block;
      position: relative;
      top: -15px;
      bottom: 10px;
      right: 5px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-nav {
    display: none;
  }
  #SDGlogo{
    height: auto; 
    width:15%;
    padding-right: 0%;
  }
}
@media screen and (min-width: 992px) {
  #SDGlogo{
    height: auto; 
    width:12%;
  }
}


  #banner {
    padding-top: 15px;
  }

#banner {
  background: $backgroundColor url('../img/sdgbg.png') top left repeat-x;
}

body{
    background: $backgroundColor top left repeat-x;
    padding-top: 15px;
  }

  #skiplink {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 250px;
    left: 50%;
    margin-left: -125px;
    padding: 10px;
    background: $backgroundColor;
    text-align: center;
    border: 1px solid $color-dark;
    color: $color-dark;
    display: block;
  }
  
/*#2.1 Navigation Buttons */
 @for $i from 1 through length($goal-banner-backgroundColors) {
   $background-c: nth($goal-banner-backgroundColors, $i);
   .goal-#{$i} {
    @media screen and (max-width: 657px){
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        max-width: 170px;
        height: 100%;
        z-index: -1;
        margin-top: -20px;
        }
        .container{
          height: 120px;
        }
        .btn-left{
          position: relative;
          top: 40px;
          left: 70px;
        }
        .btn-right{
         position: relative;
         top: 40px;
         right: 70px;
        }
    }
    @media screen and (min-width: 657px) and (max-width: 768px){
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        max-width: 173px;
        height: 100%;
        z-index: -1;
        margin-top: -25px;
        }
       /*  .heading.goal-banner.goal-#{$i}{
          height: 50px;
        } */
        .container{
          height: 120px;
        }
        .btn-left{
          position: relative;
          top: 40px;
          left: 90px;
        }
        .btn-right{
         position: relative;
         top: 40px;
         right: 90px;
        }

    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        width: 25%;
        height: 100%;
        z-index: -1;
        margin-top: -25px;
        }
        .container{
          height: 140px;
        }
        .btn-left{
          position: relative;
          top: 60px;
          left: 140px;
        }
        .btn-right{
          position: relative;
          top: 60px;
          right: 140px;
        }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px){
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        width: 25%;
        height: 100%;
        z-index: -1;
        margin-top: -25px;
        }
        .container{
          height: 190px;
        }
        .btn-left{
          position: relative;
          top: 30px;
          left: 180px;
        }
        .btn-right{
          position: relative;
          top: 30px;
          right: 180px;
        }

    }
    @media screen and (min-width: 1200px){
      .Image{
        display: block;
        margin: auto;
        text-align: center;
        width: 25%;
        height: 100%;
        z-index: -1;
        margin-top: -25px;
        }
        .container{
          height: 200px;
        }
        .btn-left{
          position: relative;
          top: 30px;
          left: 200px;
        }
        .btn-right{
          position: relative;
          top: 30px;
          right: 200px;
        }
     }

     &.navigation-btn {
       background-color: $background-c;
     color: white;
     height: 36px;
     border-color: transparent;
     margin-top: -180px;
     padding-top: 30px;
     padding-bottom: 70px;
     z-index: 1;

     @media screen and (max-width: 768px){
      margin-top: -150px;
      padding-top: 30px;
      padding-bottom: 70px;
     }
     }

     &.navigation-btn:hover {
       background-color: darken($background-c,10%);
     }
     &.goal-titles{
     color: $background-c;
     }
   }
 }
