{% include multilingual-js.html key="header" %}
    <a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">{{ page.t.header.skip_link }}</a>
    <div id="disclaimer">
      {% include components/dev-disclaimer.html %}
    </div>

    <header role="banner" class="header-menu-left-aligned">
      <div class="container">
        <div class="search-and-desktop-widgets" style="display: inline-flex; margin-left: auto;">
          {% include search.html id="search" %}
          <div class="navbar navbar-default widgets-without-menu">
            <ul class="nav navbar-nav contrast-switcher">
            {%- if site.languages.size > 1 and site.header_language_toggle != 'none' -%}
              <li class="language-toggle-menu-header">
                {% include components/language-toggle.html %}
            </li>
            {%- endif -%}
            </ul>
          </div>
        </div>

        <div class="navbar navbar-default menu-without-widgets" id="main-nav" style="margin-right: auto;">
          {% include components/header/navigation-mobile.html %}
          {% include navigation.html no_contrast=true no_language_toggle=true dropdowns=true %}
        </div>

    </header>
   

    <div style="font-weight: auto; position: sticky; position: -webkit-sticky; top: 0; z-index: 1; background: white;">
    <header role="banner" class="header-menu-left-aligned" style="background: #19486A; color: white;">
      <div    class="logo-and-mobile-widgets"
              style=" height: 80px;
                      display: -webkit-flex;
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-align-items: center;
                      -webkit-box-align: center;
                      -ms-flex-align: center;
                       align-items: center;"
                       >
             <!-- {% include components/header/logo.html %} -->
             <div>
                  <h1 style=" text-align: center;
                              padding-left: 150px;
                              padding-top: 80px;">Kommunale Nachhaltigkeitsstrategie</h1>
                  <h3 style=" padding-left: 150px;">Treptow-Köpenick</h3>
             </div>
          </div>
      <div class="container">

        



      </div>

    </header>

</div>

 {% include components/page-top.html %}
