<div class="container" id="contain">
    <div class="row">
        <div id="text">
            <h2 style="margin-bottom: 20px ; font-size: 20pt; font-weight: 700;" align="center"  ><b> Entdecke mehr SDGS</b></h2>
            <h4 style="margin-bottom: 10px; color: #adadad;" align="center">Klicken Sie auf die einzelnen Ziele, um die Daten unserer lokalen <br> Indikatoren für nachhaltige Entwicklung anzuzeigen.</h4>
        </div>
        <div class="col-xs-11 col-md-10 col-centered">
            <div id="carousel" class="carousel" data-ride="carousel" data-type="multi" data-interval="2500">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-col">
                            <a href="/SDGTK/1">
                                <img src="/SDGTK/assets/img/goals/de/1.png" class="img-responsive" alt="Keine Armut - Goal 1"
                                     id="goal-1" width="306px" height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/2">
                                <img src="/SDGTK/assets/img/goals/de/2.png" class="img-responsive" alt="Kein hunger - Goal 2"
                                     id="goal-2"  width="306" height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/3">
                                <img src="/SDGTK/assets/img/goals/de/3.png" class="img-responsive"
                                     alt="Gesundheit und Wohlergehen - Goal 3" id="goal-3" class=" block goal-icon-image goal-icon-image-"
                                     width="306px" height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/4">
                                <img src="/SDGTK/assets/img/goals/de/4.png" class="img-responsive"
                                     alt="Hochwertige Bildung - Goal 4" id="goal-4"
                                     width="306px" height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/5">
                                <img src="/SDGTK/assets/img/goals/de/5.png" class="img-responsive"
                                     alt="Geschlechtergleichheit - Goal 5" id="goal-5"  width="306px"
                                     height="230px"/>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/6">
                                <img src="/SDGTK/assets/img/goals/de/6.png" class="img-responsive"
                                     alt="Sauberes Wasser und Sanitäreinrichtungen - Goal 6" id="goal-6"
                                     width="306px"  height="230px" />
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/7">
                                <img src="/SDGTK/assets/img/goals/de/7.png" class="img-responsive"
                                     alt="Affordable and clean energy - Goal 7" id="goal-7"
                                     width="306px"  height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/8">
                                <img src="/SDGTK/assets/img/goals/de/8.png" class="img-responsive"
                                     alt="Bezahlbare und saubere Energie - Goal 8" id="goal-8"
                                     width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/9">
                                <img src="/SDGTK/assets/img/goals/de/9.png" class="img-responsive"
                                     alt="Industry, innovation and infrastructure - Goal 9" id="goal-9"
                                      width="306px"  height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/10">
                                <img src="/SDGTK/assets/img/goals/de/10.png" class="img-responsive"
                                     alt="Weniger Ungleichheiten - Goal 10" id="goal-10"
                                     width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/11">
                                <img src="/SDGTK/assets/img/goals/de/11.png" class="img-responsive"
                                     alt="Nachhaltige Städte und Gemeinden - Goal 11" id="goal-11"
                                      width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/12">
                                <img src="/SDGTK/assets/img/goals/de/12.png" class="img-responsive"
                                     alt="Nachhaltiger Konsum und Produktion - Goal 12" id="goal-12"
                                      width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/13">
                                <img src="/SDGTK/assets/img/goals/de/13.png" class="img-responsive"
                                     alt="Massnahmen zum Klimaschutz- Goal 13" id="goal-13"  width="306px"
                                     height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/14">
                                <img src="/SDGTK/assets/img/goals/de/14.png" class="img-responsive"
                                     alt="Leben unter Wasser - Goal 14" id="goal-14"
                                     width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/15">
                                <img src="/SDGTK/assets/img/goals/de/15.png" class="img-responsive"
                                     alt="Leben am Land - Goal 15" id="goal-15"  width="306px"
                                     height="230px"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/16">
                                <img src="/SDGTK/assets/img/goals/de/16.png" class="img-responsive"
                                     alt="Frieden, Gerechtigkeit und starke institutionen - Goal 16" id="goal-16"
                                      width="306px" height="230px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">
                            <a href="/SDGTK/17">
                                <img src="/SDGTK/assets/img/goals/de/17.png" class="img-responsive"
                                     alt="Partnerschaften zur erreischung der Ziele- Goal 17" id="goal-17"
                                     width="306px" height="230px"/>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="left carousel-control">
                    <a href="#carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </div>
                <div class="right carousel-control">
                    <a href="#carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
