<div id="top" tabindex=-1 style="background: #19486A">
    <div    class="logo-and-mobile-widgets"
            style=" height: 500px;
                    display: -webkit-flex;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                     align-items: center;">
           {% include components/header/logo.html %}
           <div>
                <h1>Kommunale Nachhaltigkeitsstrategie</h1>
                <h3>Treptow-Köpenick</h3>
           </div>
        </div>

</div>
